dist
node_modules
**/dist
**/node_modules
**/.next
**/next-env.d.ts
.agents
.claude
src/scout/genql
.gitignore
.prettierrc.json
.prettierignore
.gitignore
.github
.vscode
package-lock.json
package.json
tsconfig.json
Dockerfile
